<h1>Make your form here</h1>
<form action="/pirates" method="post">
    <p><label for="pirate[ships][][name]"></label>
    Ship #1 Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]" value="ship name 1"></p>
    <p><label for="pirate[ships][][type]"></label>
    Ship #1 Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" value="ship type 1"></p>
    <p><label for="pirate[ships][][booty]"></label>
    Ship #1 Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value="ship booty 1"></p>

    <p><label for="pirate[ships][][name]"></label>
    Ship #2 Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]" value="ship name 2"></p>
    <p><label for="pirate[ships][][type]"></label>
    Ship #2 Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" value="ship type 2"></p>
    <p><label for="pirate[ships][][booty]"></label>
    Ship #2 Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value="ship booty 2"></p>

    <p><label for="pirate[name]"></label>
    Pirate Name: <input id="pirate_name_1" type="text" name="pirate[name]" value="pirate name"></p>
    <p><label for="pirate[weight]"></label>
    Pirate Weight: <input id="pirate_weight_1" type="text" name="pirate[weight]" value="pirate weight"></p>
    <p><label for="pirate[height]"></label>
    Pirate Height: <input id="pirate_height_1" type="text" name="pirate[height]" value="pirate height"></p>
    
    <input id="Submit" type="submit">
</form>