<h1>Make your form here</h1>
<form action="/pirates" method="post">
    <p><label for="pirate[ships][][name]">Ship #1 Name:</label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]" value="ship name 1"></p>
    <p><label for="pirate[ships][][type]">Ship #1 Type:</label>
    <input id="ship_type_1" type="text" name="pirate[ships][][type]" value="ship type 1"></p>
    <p><label for="pirate[ships][][booty]">Ship #1 Booty:</label>
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value="ship booty 1"></p>

    <p><label for="pirate[ships][][name]">Ship #2 Name:</label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]" value="ship name 2"></p>
    <p><label for="pirate[ships][][type]">Ship #2 Type:</label>
    <input id="ship_type_2" type="text" name="pirate[ships][][type]" value="ship type 2"></p>
    <p><label for="pirate[ships][][booty]">Ship #2 Booty:</label>
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value="ship booty 2"></p>

    <p><label for="pirate[name]">Pirate Name:</label>
    <input id="pirate_name" type="text" name="pirate[name]" value="pirate name"></p>
    <p><label for="pirate[weight]">Pirate Weight:</label>
    <input id="pirate_weight" type="text" name="pirate[weight]" value="pirate weight"></p>
    <p><label for="pirate[height]">Pirate Height:</label>
    <input id="pirate_height" type="text" name="pirate[height]" value="pirate height"></p>
    
    <input id="Submit" type="submit">
</form>